@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px];
    color: #ededed;
    font-size: 16px;
    font-family: monospace;
}

a {
    @apply text-teal-500 hover:text-teal-600;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
